*{
  /* outline: 1px solid red; */
}

#todo-error{
  color: red;
  font-size: 2em;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

#info {
  background-color: rgba(100, 100, 100, 0.4);
  color: white;
  text-shadow: 1px 1px black;
}